#cart-popup {
  box-sizing: border-box;
  position: absolute;
  margin-left: 30px;
  top: 110px;
  width: 200px;
  height: 150px;
  font-size: 12px;
  font-weight: lighter;
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
}

#cart-popup p {
  margin: 5px 0 0 0;
}