img.product {
  border: 3px solid black;
}

.product-card {
  margin: 0 0 90px;
  max-width: 286px;
}

h3 {
  margin: 5px 0 10px 0;
  font-weight: 200;
  font-size: 25px;
}

.row-glazing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Selector styling based on https://www.sliderrevolution.com/resources/css-select-styles/
   Especially the triangle generation and the hiding of default browser styling. */
select {
  width: 160px;
  background-color: white;
  border: 2px solid black;
  border-radius: 0px;
  display: inline-block;
  font-size: 15px;
  font-family: inherit;
  padding: 5px;

  /* Hides default browser styling of select */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Generates a 45 degree triangle and a mirrored 135 degree triangle 
     creating the appearance of a downward triangle with no image! */
  background-image:
    linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%);
  background-position:
    calc(100% - 18px) calc(1em - 2px),
    calc(100% - 10px) calc(1em - 2px);
  background-size:
    8px 8px,
    8px 8px;
  background-repeat: no-repeat;
}

select:hover {
  cursor: pointer;
}

/* Radio button styling based on this stackoverflow thread: 
  https://stackoverflow.com/questions/5523735/how-to-make-a-radio-button-look-like-a-toggle-button
  particularly the response by Simon Darby.
*/
.row-pack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Gives the radio the appearance of a regular button */
.row-pack label {
  float: left;
  width: 33px;
  margin-left: 4px;
  background-color: white;
  border: 2px solid black;
  overflow: auto;
}

.row-pack label:hover {
  cursor: pointer;
}

/* Style the text in the radio button */
.row-pack label span {
  text-align: center;
  display: block;
  padding: 3px 0;
}

/* Hides default radio button */
.row-pack label input {
  position: absolute;
  top: -20px;
}

/* Product Card Price & Button */
/* I used http://howtocenterincss.com to help here! */
.row-cart {
  font-size: 20px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-cart button {
  width: 160px;
  font-family: inherit;
  font-size: 20px;
  background-color: white;
  border: 2px solid black;
  padding: 5px 15px;
}

.row-cart button:hover {
  background-color: yellow;
  cursor: pointer;
}